@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
    /* color */
    --primaryColor:#1EA7D1;
    --secondaryColor: #29AB92;
    --thirdColor: #454040;

    /* font */
    --font-family: "Poppins", sans-serif;
}

* {
  font-family: var(--font-family) ;
}

.bg-warna {
    background-color: var(--primaryColor);
}

.bg-btn-warna{
    background-color: var(--secondaryColor);
}

.text-justify {
    text-align: justify;
  }

.text-warna{
    color: var(--primaryColor);
}


.font-general {
    font-size: 14px;
}